{
    "presets": ["env"],
    "sourceMaps": "inline",
    "retainLines": true,
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}